.vertical-center {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
  }
.background {
  background-color: #2f3137;
}
  .vertical-center .container-fluid {
    flex-grow:1
  }
  h1.text-center {
    color: white;
  }
  h1 {
    margin: 24px 0;
  }
  .messages p {
    margin: 6px 0;
  }
  .room-title{
    color: #ffffff;
  }
  li.list-group-item{
    background-color: transparent;
    border: transparent;
  }
  strong{
    color: #ffffff;
  }
  p{
    color: #ffffff;
  }
  label{
    color: #ffffff;
  }
  .well {
    background-color: #363940;
    border-color: #363940;
    height: 100%;
    width: 100%;
    max-height: 100%;
    margin-left: 0px;
  }
  .form-control{
    background-color: #3f434b;
    border-color: #3f434b;
    color: #ffffff;
  }
  .mymessages {
    text-align: left;
    color: #2e6d88;
    font-style: italic;
  }
  ul.messages {
    min-height: calc(100vh - 26rem);
  }
  ul.messages.list-group {
    height: 100%;
    width: 100%;
    max-height: 3000px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .typing {
    font-style: italic;
  }
  .msg-delieverd {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
    color: #2F99F5;
  }
  .msg-read {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
    color: #2AC151;
  }
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}